node_modules/
dist/
*.tsbuildinfo
.vercel
.netlify
*.log
package-lock.json
.turbo/
.eslintcache
.pnpm-store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# do not commit .env files or any files that end with `.env`
*.env
*.env.production

# exclude IntelliJ/WebStorm stuff
.idea

# macOS-specific files
.DS_Store
